@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

/*=============== VARIABLES CSS ===============*/
:root {
    --header-height: 3rem;
  
    /*========== Colors ==========*/
    /*Color mode HSL(hue, saturation, lightness)*/
    --hue: 0;
    --sat: 0%;
    --title-color: hsl(var(--hue), var(--sat), 20%);
    --title-color-dark: hsl(var(--hue), var(--sat), 0%);
    --text-color: hsl(var(--hue), var(--sat), 46%);
    --body-color: hsl(var(--hue), var(--sat), 95%);
    --container-color: #fff;
  
    /*========== Font and typography ==========*/
    --body-font: "Poppins", sans-serif;
  
    /*.5rem = 8px | 1rem = 16px ...*/
    --big-font-size: 3rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
    --tiny-font-size: 0.625rem;
  
    /*========== Font weight ==========*/
    --font-normal: 400;
    --font-medium: 500;
    --font-semi-bold: 600;
  
    /*========== Margenes Bottom ==========*/
    /*.5rem = 8px | 1rem = 16px ...*/
    --mb-0-25: 0.25rem;
    --mb-0-5: 0.5rem;
    --mb-0-75: 0.75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;
  
    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;
}
/* Responsive typography */
@media screen and (max-width: 992px) {
    :root {
      --big-font-size: 2rem;
      --h1-font-size: 1.5rem;
      --h2-font-size: 1.25rem;
      --h3-font-size: 1rem;
      --normal-font-size: 0.938rem;
      --small-font-size: 0.813rem;
      --smaller-font-size: 0.75rem;
    }
}

/*=============== BASE ===============*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
html {
    scroll-behavior: smooth;
}
  
  body,
  button,
  input,
  textarea {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
}
  
body {
    background-color: var(--body-color);
    color: var(--text-color);
}
  
  h1,
  h2,
  h3 {
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
}
  
  ul {
    list-style: none;
}
  
  a {
    text-decoration: none;
}
  
  button {
    cursor: pointer;
    border: none;
    outline: none;
}
  
  img {
    max-width: 100%;
    height: auto;
}
/*=============== REUSABLE CSS CLASSES ===============*/
.section {
    padding: 6rem 0 2rem;
}
  
  .section__title {
    font-size: var(--h1-font-size);
    color: var(--title-color);
}
  
  .section__subtitle {
    display: block;
    font-size: var(--small-font-size);
    margin-bottom: 4rem;
}
  
  .section__title,
  .section__subtitle {
    text-align: center;
}
/* ========================================= LAYOUT =========================================*/
.container {
    max-width: 968px;
    margin-left: auto;
    margin-right: auto;
}
.grid {
    display: grid;
    gap: 1.5rem;
}
/*=============== BUTTONS ===============*/
.button {
    display: inline-block;
    background-color: var(--title-color);
    color: var(--container-color);
    padding: 1.25rem 2rem;
    border-radius: 1rem;
    font-weight: var(--font-medium);
}
  
  .button:hover {
    background-color: var(--title-color-dark);
}
  
  .button__icon {
    margin-left: var(--mb-0-5);
}
  
  .button--flex {
    display: inline-flex;
    align-items: center;
}

/* ========================================= HEADER =========================================*/
.header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: var(--body-color);
}
.navbar {
    height: calc(var(--header-height) + 1.5rem);
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 1rem;
}
.nav-list {
    display: flex;
    column-gap: 2rem;
}
.nav-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: var(--small-font-size);
    color: var(--title-color);
    font-weight: var(--font-medium);
    transition: .3s;
}
.nav-logo,
.nav-toggle {
    color: var(--title-color);
    font-weight: var(--font-medium);
}
.nav-icon,
.nav-close,
.nav-toggle {
    display: none;
}
/* Active Link */
.active-link,
.nav-link:hover {
    color: var(--title-color-dark);
}
@media screen and (max-width:768px) 
{
    .header {
        top: initial;
        bottom: 0;
    }
    .nav {
        height: var(--header-height);
    }
    .nav-menu {
        position: fixed;
        bottom: -100%;
        left: 0;
        width: 100%;
        background-color: var(--body-color);
        padding: 2rem 1.5rem 4rem;
        box-shadow: 0 -1px 4px rgba(0,0,0,0.15);
        border-radius: 2rem 2rem 0 0;
        transition: .3s;
    }
    /* Show Menu */
    .show-menu {
        bottom: 0;
    }
    .nav-list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
    }
    .nav-icon{
        font-size: 1.2rem;
    }
    .nav-close {
        position: absolute;
        right: 1.3rem;
        bottom: .5rem;
        font-size: 1.5rem;
        cursor: pointer;
        color: var(--title-color);
    }
    .nav-close:hover {
        color: var(--title-color-dark);
    }
    .nav-toggle {
        font-size: 1.1rem;
        cursor: pointer;
    }
    .nav-icon,
    .nav-close,
    .nav-toggle {
        display: block;
    }


}
@media screen and (max-width:350px)
{
    .nav-menu {
        padding: 2rem 0.25rem 4rem;
    }
    .nav-list {
        column-gap: 0;
    }
}

/* ========================================= HOME ========================================= */
.home-container {
    row-gap: 7rem;
}
.home-content {
    grid-template-columns: 116px repeat(2, 1fr);
    padding-top: 5.5rem;
    column-gap: 2rem;
    align-items: center;
}
.home-social {
    display: grid;
    grid-template-columns: max-content;
    row-gap: 1rem;
}
.home__social-icon {
    font-size: 1.25rem;
    color: var(--title-color);
}
.home__social-icon:hover{
    color: var(--title-color-dark);
}
.home-title {
    font-size: var(--h2-font-size);
    margin-bottom: var(--mb-0-25);
}
.home-subtitle {
    position: relative;
    font-size: var(--h3-font-size);
    padding-left: 5.4rem;
    font-weight: var(--font-medium);
    margin-bottom: var(--mb-1);
}
.home-subtitle::before{
    content: '';
    position: absolute;
    width: 70px;
    height: 1px;
    background-color: var(--text-color);
    left: 0;
    top: 1rem;
}
.home-description{
    max-width: 400px;
    margin-bottom: var(--mb-3);
}
.home-img {
    /* background-image: url(../assets/img/home.png);
    background-repeat: no-repeat;
    background-size: cover; */
    filter: brightness(90%);
    order: 1;
    justify-self: center;
    width: 430px;
    height: 300px;
}
.home-img img {
    width: 100%;
    height: 100%;
}

.home-scroll {
    margin-left: 9.25rem;
}
.wheel {
    animation: scroll 2s ease infinite;
}
@keyframes scroll {
    0% {
        transform: translateY(0);
    }
    30% {
        transform: translateY(3.75rem);
    }
}

.home__scroll-name {
    color: var(--title-color);
    font-weight: var(--font-medium);
    margin-right: var(--mb-0-25);
    margin-left: 2px;
}
.home__scroll-arrow {
    font-size: 1.25rem;
    color: var(--title-color);
}

@media screen and (max-width:992px)
{
    .home-content {
        grid-template-columns: 100px repeat(2, 1fr);
        column-gap: 1.25rem;
    }
    .home-subtitle {
        padding-left: 3.75rem;
        margin-bottom: var(--mb-1);
    }
    .home-subtitle::before {
        width: 42px;
        top: 0.8rem;
    }
    .home-description {
        max-width: initial;
        margin-bottom: var(--mb-2-5);
    }
    .home-img {
        width: 370px;
        height: 250px;
    }
    .home-scroll {
        margin-left: 7.5rem;
    }
}

/* Medium Devices */
@media screen and (max-width:768px)
{
    .home-content {
        grid-template-columns: 0.5fr 3fr;
        padding-top: 3.5rem;
    }
    .home-img {
        order: initial;
        justify-self: initial;
    }
    .home-data {
        grid-column: 1/3;
    }
    .home-img {
        width: 350px;
        height: 250px;
    }
    .home-scroll {
        display: none;
    }
}
@media screen and (max-width: 576px)
{
    .home-img {
        width: 300px;
        height: 200px;
    }
}
/* Smaller Devices */
@media screen and (max-width:350px)
{
    .home-img {
        width: 220px;
        height: 160px;
    }
}

/* ========================================= ABOUT ========================================= */
.about__container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    column-gap: 4rem;
}
.about__img {
    width: 350px;
    border-radius: 1.5rem;
    justify-self: center;
    filter: brightness(90%);
}
.about__info {
    grid-template-columns: repeat(3, 140px);
    gap: 0.5rem;
    margin-bottom: var(--mb-2);
}
.about__box {
    background-color: var(--container-color);
    border: 1px solid rgbs(0, 0, 0, 0.1);
    border-radius: 0.75rem;
    text-align: center;
    padding: 1rem 1.25rem;
}
.about__icon {
    font-size: 1.5rem;
    color: var(--text-color);
    margin-bottom: var(--mb-0-5);
}
.about__title {
    font-size: var(--small-font-size);
    font-weight: var(--font-medium);
}
.about__data {
    text-align: justify;
}
.about__subtitle {
    font-size: var(--tiny-font-size);
}
.about__description {
    text-indent: 0.4in
}
@media screen and (max-width:992px)
{
    .about__container {
        grid-template-columns: 1fr;
        row-gap: 2.5rem;
    }
    .about__img {
        width: 220px;
    }
    .about__box {
        padding: 0.75rem 0.5rem;
    }
    .about__info {
        justify-content: center;
    }
    .about__description {
        margin-bottom: 2rem;
    }
}
/* Small Devices */
@media screen and (max-width:576px)
{
    .about__info {
        grid-template-columns: repeat(3, 1fr);
    }
}

/* Smaller Devices */
@media screen and (max-width:350px)
{
    .about__info {
        grid-template-columns: repeat(2, 1fr);
    }
}


/* ========================================= PRESENTATION ========================================= */
.presentation__container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    column-gap: 4rem;
    margin-bottom: 1.5rem;
}
.presentation__img {
    width: 400px;
    border-radius: 1.5rem;
    justify-self: center;
}
.presentation__data {
    text-align: justify;
}
.presentation__description {
    text-indent: 0.4in;
    margin-bottom: var(--mb-1);
}
.presentation__button-icon {
    margin-left: .5rem;
}
@media screen and (max-width:992px)
{
    
}
/* Medium Devices */
@media screen and (max-width:768px)
{
}
/* Small Devices */
@media screen and (max-width: 576px)
{
    .presentation__container {
        grid-template-columns: 1fr;
        row-gap: 2.5rem;
    }
}
/* Smaller Devices */
@media screen and (max-width:350px)
{

}

/* ========================================= PREDICT =========================================*/
table {
    width: 100%;
}
.table thead th{
    text-align: center;
    color: var(--title-color-dark);
    height: 3rem;
}
.table tbody tr{
    text-align: center;
    height: 1.5rem;
}
.predict__col {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2rem;
}
.predict__card {
    background-color: var(--container-color);
    border-radius: .5rem;
    box-shadow: 0 4px 4px rgb(0 0 0/10%);
}
.predict__card-body {
    padding: 1rem;
}
.predict__card-result {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.predict__card-icon {
    color: red;
}
/* Medium Devices */
@media screen and (max-width:768px)
{
    .predict__card {
        font-size: 10pt;
    }
}
/* Small Devices */
@media screen and (max-width: 576px)
{
    .predict__col {
        column-gap: 1rem;
    }
    .predict__card-body {
        padding: .5rem;
    }
    .predict__card {
        font-size: 8pt;
    }
}
/* Smaller Devices */
@media screen and (max-width:350px)
{

}















/* ========================================= BREAKPOINTS =========================================*/
/* Large Devices */
@media screen and (max-width:992px)
{
    .container {
        margin-left: var(--mb-1-5);
        margin-right: var(--mb-1-5);
    }
    
    .button {
        padding: 1rem 1.75rem;
    }
    
    .button__icon {
        width: 22px;
        height: 22px;
    }
}
/* Medium Devices */
@media screen and (max-width:768px)
{

}
/* Small Devices */
@media screen and (max-width: 576px)
{

}
/* Smaller Devices */
@media screen and (max-width:350px)
{

}